<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.botty.theme.next.blue" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <permission
        android:name="com.botty.theme.next.blue.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.botty.theme.next.blue.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- GCM Permissions - End here -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Botty.Theme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.anddoes.launcher.THEME" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Service.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service android:name=".Service.GcmIntentService" />

        <activity
            android:name=".Activities.Activity_About"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Botty.Theme.About" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.botty.theme.next.blue.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.Donate"
            android:label="@string/title_activity_donate"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Botty.Theme.Donate" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.botty.theme.next.blue.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.MyIntro"
            android:label="@string/title_activity_my_intro"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="com.botty.theme.next.blue.Activities.MyIntro"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
